NEXTAUTH_SECRET=test
NEXTAUTH_URL=http://localhost:3001

DATABASE_URL=postgres://avnadmin:xxxxx@pg-a71219d-guptakanhaarya-7a45.k.aivencloud.com:19652/defaultdb?sslmode=require

NEXT_PUBLIC_BANK_SERVER_URL=http://localhost:3004
NEXT_PUBLIC_BANK_WEBHOOK_URL=http://localhost:3003
NEXT_PUBLIC_BANK_WEB_URL=http://localhost:5173